.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 768px) {
    max-width: 760px;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  li {
    padding: 0.5rem 0.5rem 0.5rem 0;
    > div {
      display: flex;
      align-items: center;
    }
  }
}
h1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
}
input {
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #a9a9a9;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

svg {
  width: 22px;
  height: 22px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  path {
    fill: green;
  }
  &.not-allowed path {
    fill: red;
  }
}

.badge {
  color: #212529;
  background-color: #ffc107;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
}

.text-discrete {
  color: #a9a9a9;
}
